language: python
python:
  - 3.4
  - 3.3
  - 2.7
script: make test
notifications:
  email: false
env:
  global:
    - DATABASE_URL='postgres://postgres@localhost/incuna_auth'
  matrix:
    - DJANGO='django>=1.4,<1.5'
    - DJANGO='django>=1.5,<1.6'
    - DJANGO='django>=1.6,<1.7'
    - DJANGO='django>=1.7,<1.8'
matrix:
  exclude:
     - env: DJANGO='django>=1.4,<1.5'
       python: 3.3
     - env: DJANGO='django>=1.4,<1.5'
       python: 3.4
install:
  - psql -c 'CREATE DATABASE incuna_auth' -U postgres;
  - pip install $DJANGO
  - pip install -r requirements.txt
