{% extends "registration/base.html" %}

{% load i18n %}
{% load url from future %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}

    {% if validlink %}

        <h1>{% trans 'Enter new password' %}</h1>

        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

        <form class="hform" action="" method="post">{% csrf_token %}
        {{ form.new_password1.errors }}
        <p class="aligned wide"><label for="id_new_password1">{% trans 'New password:' %}</label>{{ form.new_password1 }}</p>
        {{ form.new_password2.errors }}
        <p class="aligned wide"><label for="id_new_password2">{% trans 'Confirm password:' %}</label>{{ form.new_password2 }}</p>
        <p><input class="button" type="submit" value="{% trans 'Change my password' %}" /></p>
        </form>

    {% else %}

        <h1>{% trans 'Password reset unsuccessful' %}</h1>

        {% url 'auth_password_reset' as password_reset_url %}
        <p>
        {% trans "The password reset link was invalid, possibly because it has already been used." %}
        {% if password_reset_url %}
            {% blocktrans %}Please <a href="{{ password_reset_url }}">request a new password</a> reset.{% endblocktrans %}
        {% else %}
            {% trans "Please request a new password reset." %}
        {% endif %}
        </p>

    {% endif %}

{% endblock %}
