{% load crispy_forms_tags %}
{% load i18n %}
{% load url from future %}


<p>{% trans "Please log in using your email and password." %}</p>

<form class="{% block form_class %}{% endblock %}" action="{% url 'auth_login' %}" method="post" >
    {% csrf_token %}

    {% block form_inner %}
        {{ form|crispy }}
    {% endblock %}

    <a href="{% url 'auth_password_reset' %}" class="forgotten-password">{% trans "Forgotten password?" %}</a>

    <div class="form-actions">
        {% block form_actions_inner %}
            <input type="submit" class="button" value="{% trans "Login" %}">
            <input type="hidden" name="next" value="{{ next }}">
        {% endblock form_actions_inner %}
    </div>
</form>
