{% load crispy_forms_tags %}
{% load i18n %}
{% load url from future %}


<p>{% trans "Please log in using your email and password." %}</p>

<form class="" method="post" action="{% url 'auth_login' %}">
    {% csrf_token %}

    {{ form|crispy }}

    <a href="{% url 'auth_password_reset' %}" class="forgotten-password">{% trans "Forgotten password?" %}</a>

    <div class="form-actions">
        <input type="submit" class="button" value="{% trans "Login" %}">
        <input type="hidden" name="next" value="{{ next }}">
    </div>
</form>
